<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<!--Add a nav bar here -->
<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
        </div>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
            <li class="nav-item"></li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav navbar-right">
            <div class="float-right">
                <div class="dropdown">
                    <button class="dropbtn">{{user.first_name}}</button>
                    <div class="dropdown-content">
                        <a href="{% url 'djangoapp:logout' %}">Logout</a>
                    </div>
                </div>
            </div>
            <div class="float-right">
                <button class="btn btn-warning">Add Review</button>
                <!--TODO: Add link pointing to add_review-->
            </div>
        </ul>
        {% else %}
        <div class="rightalign">
            <div class="dropdown">
                <button class="dropbtn">Visitor</button>
                <div class="dropdown-content">
                    <a href="{% url 'djangoapp:login' %}">Login</a>
                    <a href="{% url 'djangoapp:registration' %}">Signup</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</nav>

<!-- Add reviews as cards -->
<div class="card-columns">
    {% for review in reviews %}
    <div class="card">
        <!--TODO: Add img for sentiment-->
        <div class="card-body">
            <h4 class="card-title">{{review.car_year}} {{review.car_make}}, {{review.car_model}}</h4>
            <h5 class="card-title">{{review.name}}</h5>
            <p class="card-text">{{review.review}}</p>
        </div>
    </div>
    {% endfor %}
</div>

</body>

</html>